html{
box-sizing: border-box;
font-family: Merriweather, serif;
}
*, *::before, *::after{
box-sizing: inherit;
}
.grain-left {
width:7%;
float: left;
}
.grain-right {
width: 7%;
float: right;
}
h1 {
text-align: center;
margin: 0;
color: white;
padding-bottom: .5em;
}
main {
line-height: 1.25em;
}
.p-1, .p-2{
margin: .6em;
}
.p-2 {clear: left;
}
nav li {
float: left;
display: inline-block;
width: 33.3%;
border: 1px solid #a63f37;
border-right: 0px;
padding: .5em;
text-align: center;
}
.inset-left {
width: 31%;
float: left;
margin: 0 7px;
clear: left;
border: 1px solid #cccccc;
}
Header {
background-color: #cd5b34;
padding-top: .5em;
overflow: hidden;
margin: -1px;
}
body {
margin: 0;
}
a{
text-decoration: none;
color: white;
}


nav ol{
overflow: hidden;
margin: auto;
width: 100%;
padding: 0;
}

nav li:hover{
background-color: #a63f37;
}
h2 {
text-align: center;
color: white;
padding: 1em;
background-color: #dc8252;
border-top: 1px solid #cd5b34;
margin-bottom: 0;
font-size: 1.2rem;
clear: both;
}
.cereals, .quinoa {
float: right;
width: 31%;
clear: right;
margin: 7px;
border: 1px solid #cccccc;
}
.corn img{
width: 100%;
display: block;
}
.corn{
margin: 0;
width: 100%;
}
.corn figcaption {
text-align: center;
color: white;
padding:.2em 0 .5em 0;
background-color: #dc8252;
font-style: italic;
font-family: none, serif;
}
.rice img{
width: 100%;
display: block;
}
.rice{
margin:0;
width: 50%;
float: left;
}
.rice figcaption {
text-align: center;
color: white;
padding:.2em 0 .5em 0;
background-color: #dc8252;
border-bottom: 1px solid #cd5b34;
font-style: italic;
font-size: .8em;
font-family: none, serif;
}
.oats img{
width: 100%;
display:block;
}
.oats {
width: 50%;
float: right;
margin:0;
}
.oats figcaption {
text-align: center;
color: white;
padding:.2em 0 .5em 0;
background-color: #dc8252;
border-bottom: 1px solid #cd5b34;
font-style: italic;
font-size: .8em;
font-family: none, serif;
}
.legumes {
background-color: white;
border: none;
color: #000;
font-weight: bold;
}
.peanuts, .beans, .lentils {
float: left;
clear: left;
}

.peanuts img, .beans img, .lentils img{
width: 24%;
float: left;
margin: 0 7px 22px 7px;
clear: left;
border: 1px solid #cccccc;

}

ul {
		font-family: none, serif;
		padding: 0;
}
footer {
  padding: .5em;
  color: #dc8252;
  background-color: #cd5b34;
  clear: both;
  text-align: center;
  font-size: .75rem;
}
