html {
	background-color: white;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
line-height: 115%;
margin: 0;
}

header {
	background-color: #cd5b34;
	padding: 0;
	text-align: center;
	margin: 0;
}

.grain-left {
	width: 10%;
	float: left;
	padding: 0.5em 0em 0em 0em;
}

.grain-right {
	width: 10%;
	float: right;
	padding: 0.5em 0em 0em 0em;
}

h1 {
	background-color: #cd5b34;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 0;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 2rem;
	font-style: normal;
	font-family: 'Merriweather', serif;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	overflow: hidden;
}

nav li {
	display: block;
	border: 1px #a33f3a solid;
	float: left;
	width: 33.33%;
	background-color: #cd5b34;
	text-align: center;
	color: white;
	text-decoration: none;
	margin: 0;
}

nav a {
	display: block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: center;
	color: white;
	text-decoration: none;
	margin: 0;
}

a:hover {
	display: block;
	background-color: #a93f35;
	color: white;
}

.first-img {
	float: left;
	width: 44%;
	margin-right: 15px;
	margin: 0em 0.5em 0em 0.5em;
	border: 1px gray solid;
}

.right {
	float: right;
	width: 44%;
	margin-left: 15px;
	border: 1px gray solid;
}

.clear-it {
	clear: left;
	margin: 0.5em 0.5em 0.5em 0.5em;
}

.clear-r{
	clear: right;
	margin: 0em 0.5em 0.5em 0.5em;
}

.p1 {
	margin: 1em 0em 0em 0.5em;

}

.p2 {
	margin: 0.5em 0em 1em 0.5em;

}

.cereal {
	clear: both;
	text-align: center;
	color: white;
	background-color: #dc8252;
	padding: 1em 0em 1em 0em;
	margin: 0;
	font-size: 1.2rem;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-size: 0.7rem;
	font-style: italic;
	text-align: center;
	color: white;
	background-color: #dc8252;
	padding: 0.2em 0em 0.5em 0em;
	margin: 0;
}

.corn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.small-img {
	display: block;
	width: 100%;
	margin: 0;

}

.small-img2 {
	display: block;
	width: 100%;
	margin: 0;
}

.rice {
	float: left;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #dc8252;
	padding: 0;
	width: 50%;
	margin: 0;
}

.oats {
	float: right;
	font-size: 0.7rem;
	font-style: italic;
	color: white;
	background-color: #dc8252;
	padding: 0;
	width: 50%;
	margin: 0;
}

.famous {
	clear: both;
	text-align: center;
	font-size: 1.2rem;
	background-color: white;
	color: black;
	margin: 0;
	padding: 1em 0em 0.5em 0em;
}

.legume-img {
	display: block;
	width: 100%;
	margin: 0.5em 0em 0.5em 0.5em;
	border: 1px gray solid;
	padding: 0;
}

.lentils {
	display: block;
	width: 100%;
	margin: 0.5em 0em 1em 0.5em;
	border: 1px gray solid;
	padding: 0;
}

.left-imgs {
	list-style-type: none;
	width: 27%;
	margin: 0;
	float: left;
	padding: 0;
}

.data {
	list-style-type: none;
	font-size: 0.9rem;
	float: right;
	font-style: italic;
	margin: 0;
	padding: 0.5em 0em 0em 0em;
	width: 68%;
}

div li {
	padding: 0em 0em 3.6em;
}

.second-data {
	padding: 0em 0em 2.8em;
}

footer {
	clear: both;
	background-color: #cd5b34;
	padding: 0.2em 0.5em 0.5em 0.5em;
	margin: 0;
	text-align: center;
	color: #f59b6c;
	font-weight: normal;
	font-size: 0.6rem;
	font-style: normal;
	font-family: 'Merriweather', serif;
	line-height: 1;
}
